<div class="container">
  <header>
    <h1>
      <a routerLink="/search">
        <span class="red">Видео</span><span class="black">Youtube</span>
      </a>
    </h1>
    <h3>Поиск видео в Youtube</h3>
    <div>
      <nav>
        <ul class="nav">
          <li><a routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><strong>Главная</strong></a></li><!--
       --><li><a routerLink="/view" routerLinkActive="active"><strong>Просмотр</strong></a></li><!--
       --><li><a routerLink="/settings" routerLinkActive="active"><strong>Настройки</strong></a></li><!--
       --><li><a routerLink="/favourite" routerLinkActive="active"><strong>Избранное</strong></a></li><!--
       --><li><a routerLink="/register" routerLinkActive="active"><strong>Регистрация</strong></a></li>
        </ul>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register"><strong>Регистрация</strong></a></li> -->
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <p>Copyright &copy; 2017, All Right Reserved</p>
  </footer>
</div>
